.bg:nth-of-type(2n+1) {
    background-color: rgba(2,13,129, 0.1);
}

.work-wrap {
    padding: 30px 20px;
    box-sizing: border-box;
    max-width: 1300px;
    margin: 0 auto;
}

.arrow-left {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.arrow-left::after {
    content: "";
    width: 18px;
    height: 18px;
    border-left: 4px solid #000;
    border-bottom: 4px solid #000;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 11px;
    left: 14px;
}

.work-about {
    margin: 20px 0 10px;
}

.background {
    margin: 30px 0 15px;
}

.btn {
    display: inline-block;
    padding: 10px;
    background-color: rgb(2,13,129);
    color: #fff;
    border-radius: 100vh;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(2,13,129, 0.8);
}

.btn + .btn {
    margin-left: 30px;
}

.features {
    display: flex;
    justify-content: space-between;
}

.feature {
    text-align: center;
    position: relative;
}

.feature p {
    font-weight: bold;
}

.feature:not(:last-of-type)::before {
    content: "";
    box-sizing: border-box ;
    border-left: 20px solid #000;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    right: -18%;
    transform: translateY(-50%);
}

.feature-img-box {
    max-width: 350px;
}

.feature-img {
    width: 100%;
}

.else-feature {
    margin-top: 30px;
    padding-left: 30px;
}

.else-feature li {
    list-style: inherit;
}

.work-skill {
    display: flex;
    margin: 0 0 20px;
}

.work-skill div + div {
    margin-left: 50px;
}